@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #ffffff;
    height: auto;
    
}

h1{
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}


img{
    display: block;
    width: 100%;
}

main{
    max-width: 1000px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.4),
    -30px 0px 40px rgba(0, 0, 0 , 0.4);
}

#landing {
    background: rgb(243, 243, 243);
}

#landing-text{
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#landing-image{
    background: url("../img/BP/MR GOKUL RESIDENCE/LIVING/FF LIVING - VIEW 01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image2{
    background: url("../img/BP/MR HAKKIM REIDENCE/KITCHEN/VIEW\ 03.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image4{
    background: url("../img/BP/MR KRISHNA/LIVING/HALL_INTERIOR_VIEW_02.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image5{
    background: url("../img/BP/MR SARAVANAN RESIDENCE INERIOR/LIVING/01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image6{
    background: url("../img/BP/MR THIYAGU RESIDENCE/LIVING/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image7{
    background: url("../img/BP/NALANDHA UNIVERSITY BIHAR/F1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image8{
    background: url("../img/BP/ELEVATION/MR PONNVANNAN RESIDENCE/OPTION 02-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image9{
    background: url("../img/BP/ELEVATION/MR SARAVANAN RESIDENCE/VIEW 01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image10{
    background: url("../img/BP/ELEVATION/MR SUHAIL RESIDENCE/F4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}
#landing-image11{
    background: url("../img/BP/ELEVATION/MR.PRAKASH RESIDENCE/F1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 0 1 60vw;
    margin: 0;
}

.btn{
    margin: 2rem 0 0;
    padding: 0.5rem 2rem;
    display: inline-block;
    border: 1px #ffffff solid;
    border-color: black;
    border-radius: 50px;
    text-decoration: none;   
    transition: background 500ms ease; 
}

.btn:hover{
    background: #d6d6d6;
}


#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #ffffff;
}

#header h2{
    border-left: dotted 1px #ffffff;
    border-right: dotted 1px #ffffff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption{
    padding: 0.8rem ;
    text-align: center;
}

footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}
.caption h3,p{
    display: none;
}


@media(min-width: 500px){
    #landing{
        display: flex;
        height: 100%;
    }

    #landing-text{
        height: 100vh;
    }

    #landing-image{
        height: 100vh;
    }

}

@media(min-width: 700px){
    .btn{
        padding: 1rem 3rem ;
    }
}